i m.content {
    background-color: beige;
    padding: 10px;
    border-radius: 8px;
}

.sidebar {
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(63, 43, 13);
}

.img {
    height: auto;
    max-width: 100%;
}

.box1{
    height: 800px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1030;
  background-color: #212529; /* match bg-dark */
  color: white;
  text-align: center;
  padding: 10px 0;
}

main.container {
  padding-bottom: 250px; /* Add bottom padding to main content to avoid overlap with fixed footer */
}
